//google fonts
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
* {
  box-sizing: border-box;
}
@mixin intro_base {
  font-family: "Nanum Myeongjo", serif;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}
.header {
  z-index: 9999;
}
.contact {
  background: linear-gradient(to bottom, #766, #c9d6ff);
  height: auto;

  .contact_container {
    font-family: "Nanum Myeongjo", serif;
    max-width: 1600px;
    padding: 150px 80px;
    .contact_inner {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 5px;
      padding: 40px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      h1 {
        font-size: 48px;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(173, 181, 189, 0.5);
      }
      p {
        margin-top: 40px;
        text-align: center;
      }
      .contact_common {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(173, 181, 189, 0.5);
        display: flex;
        align-items: center;
        border-radius: 5px;
        label {
          border-right: 1px solid rgba(173, 181, 189, 0.5);
          span {
            .fa-user {
              font-size: 25px;
              margin: 2px 5px;
            }
            .fa-envelope {
              font-size: 22px;
              margin: 2px 5px;
            }
          }
        }
        input {
          border: none;
          margin: 0 10px;
        }
      }
      .contact_msg {
        .form_msg_input_cl {
          width: 100%;
          height: 300px;
          border: 1px solid rgba(173, 181, 189, 0.5);
          overflow-x: auto;
        }
      }
    }
  }
}
