* {
  box-sizing: border-box;

  font-family: noto-sans-cjk-kr, sans-serif;

  font-weight: 400;

  font-style: normal;
}
@mixin backgroundProps {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(70%);
  transition: opacity 0.5s linear;
  transition: transform 3s linear;
}
@mixin text_deco {
  position: absolute;
  top: 40%;
  left: 100px;
  width: 400px;
  transition: all 1.5s ease-in-out;
  color: white;
  .Home_main_description_title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .Home_main_description_content {
    font-size: 26px;
  }
}
.Home {
  .Home_main {
    height: 100vh;
    position: relative;
    .Home_slide_1 {
      background: center / cover no-repeat url("../img/comp_developer.jpg");
      @include backgroundProps;
      opacity: 0;
      .Home_main_description_1 {
        @include text_deco;
        left: 200px;
      }
    }
    .Home_slide_2 {
      background: center / cover no-repeat url("../img/comp_suit.jpg");
      @include backgroundProps;
      opacity: 0;
      .Home_main_description_2 {
        @include text_deco;
        left: -200px;
      }
    }
    .Home_slide_3 {
      background: center / cover no-repeat url("../img/comp_man_ballon.jpg");
      @include backgroundProps;
      opacity: 0;
      .Home_main_description_3 {
        @include text_deco;
      }
    }
    .Home_slide_4 {
      background: center / cover no-repeat url("../img/comp_black_chot.jpg");
      @include backgroundProps;
      opacity: 0;
      .Home_main_description_4 {
        @include text_deco;
      }
    }
    .visible {
      opacity: 1;
      transform: scale(1.05);
    }
    .Home_slide_btn {
      position: absolute;
      z-index: 9999;
      left: 50px;
      bottom: 100px;
      color: white;
      span:not(:nth-child(2)) {
        font-size: 30px;
        cursor: pointer;
      }
      span:nth-child(2) {
        font-size: 30px;
        padding: 0 20px;
      }
    }
  }
  .Home_skill {
    margin: 0 auto;
    min-width: 600px;
    text-align: center;
    .Home_skill_title {
      font-size: 45px;
    }
    .Home_skill_subtitle {
      font-size: 26px;
      color: #888;
    }
    .Home_skill_list {
      display: flex;
      justify-content: space-between;
      .Home_skill_detail {
        color: white;
        background-color: #888;
        height: 400px;
        width: 250px;

        position: relative;
        &:hover {
          .Home_skill_text {
            background-color: blue;
            bottom: 0px;
          }
        }
        .Home_skill_text {
          display: flex;
          flex-direction: column;
          justify-content: end;
          bottom: -60px;
          left: 0;
          right: 0;
          height: 220px;
          position: absolute;
          transition: all 0.5s linear;
          color: white;
          padding: 10px;
        }
      }
    }
  }
  .Home_portfolio {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .Home_portfolio_title {
      width: 300px;
      text-align: center;
      h1 {
        font-size: 46px;
      }
      h3 {
        font-size: 18px;
      }
    }
    .Home_portfolio_list {
      width: 800px;
      display: flex;
      justify-content: space-between;
      .Home_portfolio_detail {
        height: 300px;
      }
    }
  }
}
